services:
   
      db:
        image: postgres:17.4
        restart: always
        environment:
            POSTGRES_DB: postgres
            POSTGRES_PASSWORD: mypassword
            POSTGRES_USER: postgres
        ports:
          - "5432:5432"
        volumes:
            - db_data:/var/lib/postgresql/data   
volumes:
  db_data: